@model User

<form asp-action="AddToHobbiesLevel">
    <span class="error"></span>
    <select>
        <option value="Novice">Novice</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Expert">Expert</option>
    </select>
</form>